<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
</head>
<body>
    <%-include('pagination.ejs')%>
    <table border="1">
        <tr>
            <%Object.keys(fields).forEach((key=>{%>
                <td>
                    <div style="display: flex;">
                        <div style="margin-top: auto; margin-bottom: auto;"><%=fields[key]%></div>
                        <div style="display: flex; flex-direction: column; width: 100%; justify-content: end; text-align: right;">
                            <a href='/student/first/<%=key%>/asc'>&#8710;</a>
                            <a href='/student/first/<%=key%>/desc'>&#8711;</a>
                        </div>
                    </div>
                </td>
            <%}))%>
        </tr>

        <%result.forEach(student=>{%>
            <tr>
                <%Object.keys(student).forEach((key=>{%>
                    <td><%=student[key]%></td>
                <%}))%>
            </tr>
        <%})%>
    </table>
</body>
</html>